*.rar
*.dbg
*.exe
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.dof
*.deb
*.ppu
*.bak
*.lps
*.pyc
*.dll
link*.res
python*.zip

dlls/
lib/
backup/
settings/
__trash/
_test/
python3*/
/app/bin
/app/cudatext
/app/cudatext-mac
treehelpertester/app
app.res

cudatext-mac-cocoa/
cuda_python_intel/
cuda_ext/
cuda_exttools/
cuda_sample*/
cuda_sess*/
cuda_insert_numbers/
cuda_macros/
cuda_snippets/
cuda_html*/
cuda_js*/
cuda_yaml*/
cuda_lorem/
cuda_console_complete/
cuda_lint*
cuda_num*
cuda_find*
cuda_sql*
cuda_tern*
cuda_bracket*
cuda_config*
cuda_spell*
cuda_hex*
cuda_icon*
cuda_tst*
cuda_mark*
cuda_ftp*
cuda_fav*
cuda_emmet_lite
cuda_stata*
cuda_test_*
cuda_tree*
cuda_differ/
cuda_insert_pics/
cuda_hilite*
cuda_fmt*
cuda_lsp*
cuda_bread*
cuda_terminal*
cuda_exterminal*
cuda_git_status
cuda_options_editor/
cuda_color_text/
