*.rar
*.dbg
*.exe
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.dof
*.deb
*.ppu
*.bak
*.lps
*.pyc

lib/
backup/
settings/
__trash/
/app/cudatext
cuda_python_intel/
cuda_ext/
cuda_exttools/
cuda_sample*/
cuda_sess*/
cuda_insert_numbers/
cuda_macros/
cuda_snippets/
cuda_html_*/
cuda_css_*/
cuda_js_*/
cuda_yaml_*/
cuda_lorem/
cuda_kv*/
cuda_lint*/
cuda_num*/
