body
{
font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif;
font-size: 0.8em;
background: #FFF;
}

table.main
{
border: 2px #CCC solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;
}

table.noborder
{
border: 0px;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;
}

td.text, td.sel
{
font-size: 0.8em;
padding-left: 8px;
padding-right: 4px;
margin: 4px;
}

td.sel
{
background-color: #DDD;
}

td.pre
{
font-size: 0.7em;
background-color: #EEE;
}

hr
{
border: 0;
color: #CCC;
background-color: #CCC;
height: 1px;
text-align: center;
}

li
{
margin-bottom: 2px;
}

img
{
border: 0;
vertical-align: middle;
}
